.container {
    margin: 4% 3%;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

nav a:nth-child(6) {
    margin-right: 3.5%;
}